<main class="main">
  <div class="content">
    <div class="options">
      <form>
        <label>
          Task:
          <input type="text" [formField]="taskForm.task" />
        </label>
        <label>
          Important:
          <input type="checkbox" [formField]="taskForm.important" />
        </label>
      </form>
      <button (click)="addTask()">Add</button>
    </div>
    <div class="list">
      <div class="todo">
        <div class="list-label">Your tasks:</div>
        <div class="tasks">
          @for (task of tasks(); track task.id) {
            <task [task]="task" (complete)="completeTask($event)" (delete)="deleteTask($event)"/>
          }
        </div>

      </div>
      <div class="completed">
        <div class="list-label">Completed:</div>
        <div class="tasks">
          @for (task of completed(); track task.id) {
            <task [task]="task" [completed]="true" (delete)="deleteCompleted($event)"/>
          }
        </div>

      </div>
    </div>
  </div>
</main>


<router-outlet />
